<%- include header -%>
<form method="post">
    <input name="name" type="text" placeholder="书名" required />
    <input name="author" type="text" placeholder="作者" required />
    <input type="submit" value="新增" />
</form>
<%- include footer -%>