<%- include header -%>
<form method="post" class="add_comment_form">
    <textarea name="comment" placeholder="书评" required></textarea>
    <input type="submit" value="提交评论" />
</form>
<p>
    预览(已输入<span class="wordNumber">0</span>字)
</p>
<div class="preview"></div>
<%- include footer -%>