<%- include header -%>
<div id="books"></div>
</article>

<script>
<%- include ../public/javascripts/jquery.min.js %>
</script>
<script>
<%- include ../public/javascripts/index.js %>
</script>
<script>
<%- include ../public/javascripts/book.js %>
</script>
</body>
</html>
