<%- include header -%>
<div id="books">
  <div></div>
  <div></div>
  <div></div>
</div>
</article>

<script>
<%- include ../public/javascripts/dist/jquery.min.js %>
</script>
<script>
<%- include ../public/javascripts/dist/book.min.js %>
</script>
</body>
</html>
