<%- include header -%>
<ul class="comment">
  <% book.comments.forEach(function (comment) { %>
  <li>
    <div class="commentContent"><%- comment.comment %></div>
    <% if (book.username === user.name) { %>
      <button class="removeBtn removeComment">删除此笔记</button>
      <input type="text" disabled class="commentId" value=<%- comment._id %> style="display: none;" %> />
    <% } %>
  </li>
  <% }) %>
</ul>
<%- include footer -%>
