<%- include header -%>
  <div class="center textCenter">
    <img src="/images/error.jpeg" alt="">
    <p class="textCenter">你和你想打开的页面没有缘分, <a href="/" class="link">放弃</a>吧</p>
  </div>
  <script>
    <%- include ../public/javascripts/dist/error.min.js %>
  </script>
<%- include footer -%>
