</article>
<div class="flashWrapper">
  <% if (success) { %>
    <span class="flash success">
      <%- success %>
    </span>
  <% } %>
  <% if (error) { %>
    <span class="flash error">
      <%- error %>
    </span>
  <% } %>
</div>
<script data-main="/javascripts/dist/main.min">
  <%- include ../public/javascripts/dist/require.min.js %>
</script>
</body>
</html>
