<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/css/style.css' />
</head>
<body>
  <div class="bgImg"></div>
  <%- include sidebar -%>
  <article class="main">
