<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta charset="utf-8", content="IE=edge,chrome=1" />
  <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, max-scale=1.0, min-scale=1.0, user-scalable=no" />
  <link rel='stylesheet' href='/stylesheets/dist/style.min.css' />
  <link rel="stylesheet" href="node_modules/github-markdown-css/github-markdown.css">
</head>
<body>
  <div class="bgImg"></div>
  <%- include sidebar -%>
  <article class="main">
