<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/dist/style.min.css' />
    <link rel="stylesheet" href="node_modules/github-markdown-css/github-markdown.css">
</head>
<body>
  <div class="bgImg"></div>
  <%- include sidebar -%>
  <article class="main">
