<%- include header -%>
<aside class="sidebar">
  <section class="panel">
    <header>个人信息</header>
    <div>
      <% if (user) { %>
        <div class="avatar-sm"></div>
        <a href="/profile"><%= user.name %></a>
        <div></div>
      <% } else { %>
        <div>没有账号?先去<a href="/register">注册</a></div>
      <% } %>
    </div>
  </section>
  <% if (user) { %>
    <section class="panel">
      <header>搜索</header>
      <div>
        <form action="/search" method="post">
          <input name="name" type="text" placeholder="" required />
          <input type="submit" value="搜索" />
        </form>
      </div>
    </section>
  <% } %>
</aside>
<div class="container"></div>
<%- include footer -%>
