<%- include header -%>
<form class="form center" method="post">
  <h3>搜索图书</h3>
  <input name="name" type="text" placeholder="搜索图书" required />
  <input type="submit" value="搜索" />
</form>
<%- include footer -%>
