html,
body {
  height: 100%;
  overflow-x: hidden;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
button {
  padding: 0;
  margin: 0;
  font: 14px "Segoe UI", "Lucida Grande", "Microsoft YaHei", Helvetica, Arial, sans-serif;
}
ol,
ul {
  list-style: none;
}
label input {
  display: none;
}
label > input[type=checkbox]:checked + span:before {
  content: '\2714';
  position: absolute;
  left: 0;
  font-size: 21px;
}
label > span {
  position: relative;
  display: inline-block;
  border: 1px solid #000000;
  height: 21px;
  width: 21px;
  line-height: 21px;
  background-color: #F2F2F2;
  text-align: center;
}
h1 {
  font-size: 225%;
  font-weight: normal;
}
h2 {
  font-size: 200%;
  font-weight: normal;
}
h3 {
  font-size: 175%;
  font-weight: normal;
}
h4 {
  font-size: 150%;
  font-weight: normal;
}
h5 {
  font-size: 125%;
  font-weight: normal;
}
h6 {
  font-size: 100%;
  font-weight: normal;
}
.text-center {
  text-align: center;
}
a {
  color: #99CCFF;
  text-decoration: none;
}
.btn {
  -webkit-transform: translate(0, -7px);
  -moz-transform: translate(0, -7px);
  -ms-transform: translate(0, -7px);
  -o-transform: translate(0, -7px);
  transform: translate(0, -7px);
  border: 0 solid transparent;
  border-radius: 4px;
  display: inline-block;
  padding: 3px 7px;
  line-height: 28px;
  background-color: #6699CC;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  background-color: #407fbf;
}
.success {
  color: #99FF66;
}
.error {
  color: #FF0033;
}
.success,
.error {
  display: none;
  padding: 7px;
  width: 100%;
  text-align: center;
  background-color: #FFFFFF;
  font-size: 16px;
}
.navSwitcher {
  position: fixed;
  left: 12px;
  top: 0;
  z-index: 10;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.navSwitcher > span {
  display: block;
  margin-top: 13.33333333%;
  width: 80%;
  height: 8.88888889%;
  background-color: #FFFFFF;
}
.navSwitcher > span:first-child {
  margin-top: 20%;
}
.nav {
  background: -moz-linear-gradient(left, #8cb3d9, #407fbf);
  background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#8cb3d9), to(#407fbf));
  background: -webkit-linear-gradient(left, #8cb3d9, #407fbf);
  background: -o-linear-gradient(left, #8cb3d9, #407fbf);
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 50px;
}
.nav > ul {
  float: right;
}
.nav > ul > li {
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  display: inline-block;
  padding: 0 12px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.nav > ul > li:hover {
  background-color: #FFFFFF;
}
.nav > ul > li:hover > a {
  color: #6699CC;
}
.nav > ul > li > a {
  display: inline-block;
  width: 100%;
  color: #FFFFFF;
  cursor: pointer;
}
.main {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding-top: 50px;
  min-height: 100%;
}
.bgImg {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #F2F2F2;
  background-image: url('../../images/lowpoly.png');
}
.logs {
  font-size: 18px;
  padding: 14px;
  text-align: right;
}
.logs > h3 {
  padding-bottom: 7px;
  border-bottom: 1px solid #F2F2F2;
}
.logs > .add {
  -webkit-transition: padding 1s;
  -moz-transition: padding 1s;
  -ms-transition: padding 1s;
  -o-transition: padding 1s;
  transition: padding 1s;
  margin: 14px 0;
}
.logs > .add:hover {
  padding-left: 14px;
}
.logs .log {
  display: inline-block;
  margin: 7px 0;
}
.logs .time {
  padding: 4px 7px;
  border-radius: 7px;
  background-color: #F2F2F2;
  color: #6699CC;
}
.page {
  padding: 14px;
  text-align: right;
}
.prepage > a,
.nextpage > a {
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  display: inline-block;
  padding: 7px;
  background-color: #6699CC;
  color: #FFFFFF;
}
.prepage > a:hover,
.nextpage > a:hover {
  background-color: #F2F2F2;
  color: #6699CC;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 42px;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.form {
  max-width: 400px;
  background-color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
}
.form > h1,
.form > h2,
.form > h3,
.form > h4,
.form > h5,
.form > h6 {
  color: #6699CC;
}
.form > input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 14px auto;
  height: 42px;
  line-height: 42px;
}
.form > input[type=text],
.form > input[type=password],
.form > input[type=email] {
  display: block;
  border: 2px solid #F2F2F2;
  border-radius: 7px;
  width: 100%;
  text-indent: 7px;
  outline: none;
}
.form > input[type=submit],
.form > input[type=reset],
.form > input[type=button] {
  -webkit-transform: translate(0, -7px);
  -moz-transform: translate(0, -7px);
  -ms-transform: translate(0, -7px);
  -o-transform: translate(0, -7px);
  transform: translate(0, -7px);
  border: 0 solid transparent;
  border-radius: 4px;
  display: inline-block;
  padding: 3px 7px;
  line-height: 28px;
  background-color: #6699CC;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  padding: 0;
  height: 30px;
  line-height: 30px;
  min-width: 64px;
}
.form > input[type=submit]:hover,
.form > input[type=reset]:hover,
.form > input[type=button]:hover {
  background-color: #407fbf;
}
.form > input[type=checkbox] {
  display: inline-block;
  margin-right: 0;
  vertical-align: middle;
}
.form > input[type=submit],
.form > input[type=reset] {
  width: 45%;
}
.form > span {
  display: inline-block;
  margin: 14px 0;
  height: 24px;
  vertical-align: middle;
  line-height: 24px;
}
.form .form-footer {
  position: absolute;
  bottom: 14px;
  left: 0;
  width: 100%;
  text-align: center;
}
.panel {
  margin: 12px;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.panel > header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 32px;
  background-color: #6699CC;
  line-height: 32px;
  text-indent: 12px;
  color: #FFFFFF;
}
.panel > div {
  padding: 12px;
}
.panel > div > form {
  max-width: 400px;
  background-color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
}
.panel > div > form > h1,
.panel > div > form > h2,
.panel > div > form > h3,
.panel > div > form > h4,
.panel > div > form > h5,
.panel > div > form > h6 {
  color: #6699CC;
}
.panel > div > form > input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 14px auto;
  height: 42px;
  line-height: 42px;
}
.panel > div > form > input[type=text],
.panel > div > form > input[type=password],
.panel > div > form > input[type=email] {
  display: block;
  border: 2px solid #F2F2F2;
  border-radius: 7px;
  width: 100%;
  text-indent: 7px;
  outline: none;
}
.panel > div > form > input[type=submit],
.panel > div > form > input[type=reset],
.panel > div > form > input[type=button] {
  -webkit-transform: translate(0, -7px);
  -moz-transform: translate(0, -7px);
  -ms-transform: translate(0, -7px);
  -o-transform: translate(0, -7px);
  transform: translate(0, -7px);
  border: 0 solid transparent;
  border-radius: 4px;
  display: inline-block;
  padding: 3px 7px;
  line-height: 28px;
  background-color: #6699CC;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  padding: 0;
  height: 30px;
  line-height: 30px;
  min-width: 64px;
}
.panel > div > form > input[type=submit]:hover,
.panel > div > form > input[type=reset]:hover,
.panel > div > form > input[type=button]:hover {
  background-color: #407fbf;
}
.panel > div > form > input[type=checkbox] {
  display: inline-block;
  margin-right: 0;
  vertical-align: middle;
}
.panel > div > form > input[type=submit],
.panel > div > form > input[type=reset] {
  width: 45%;
}
.panel > div > form > span {
  display: inline-block;
  margin: 14px 0;
  height: 24px;
  vertical-align: middle;
  line-height: 24px;
}
.panel > div > form .form-footer {
  position: absolute;
  bottom: 14px;
  left: 0;
  width: 100%;
  text-align: center;
}
.panel > div > form > input[type=text],
.panel > div > form > input[type=submit] {
  display: inline-block;
  margin: 1%;
}
.panel > div > form > input[type=text] {
  width: 60%;
  height: 32px;
  line-height: 32px;
}
.panel > div > form > input[type=submit] {
  width: 20%;
}
button {
  -webkit-transform: translate(0, -7px);
  -moz-transform: translate(0, -7px);
  -ms-transform: translate(0, -7px);
  -o-transform: translate(0, -7px);
  transform: translate(0, -7px);
  border: 0 solid transparent;
  border-radius: 4px;
  display: inline-block;
  padding: 3px 7px;
  line-height: 28px;
  background-color: #6699CC;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}
button:hover {
  background-color: #407fbf;
}
#books > div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin: 0;
  padding: 0 12px;
  width: 33.33333333%;
}
#books > div > section {
  background: -moz-linear-gradient(top, #FFFFFF, rgba(255, 255, 255, 0.5));
  background: -webkit-gradient(linear, 50% 0, 50% 100%, from(#FFFFFF), to(rgba(255, 255, 255, 0.5)));
  background: -webkit-linear-gradient(top, #FFFFFF, rgba(255, 255, 255, 0.5));
  background: -o-linear-gradient(top, #FFFFFF, rgba(255, 255, 255, 0.5));
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 12px 0;
  padding: 14px;
  border-radius: 7px;
  width: 100%;
  min-height: 180px;
  font-size: 12px;
  color: #b3b3b3;
}
#books > div > section:hover {
  background: -moz-linear-gradient(top, #FFFFFF, rgba(255, 255, 255, 0.8));
  background: -webkit-gradient(linear, 50% 0, 50% 100%, from(#FFFFFF), to(rgba(255, 255, 255, 0.8)));
  background: -webkit-linear-gradient(top, #FFFFFF, rgba(255, 255, 255, 0.8));
  background: -o-linear-gradient(top, #FFFFFF, rgba(255, 255, 255, 0.8));
}
#books > div > section > header .bookTitle {
  margin-right: 12px;
  font-size: 32px;
  color: #222222;
  text-decoration: none;
}
#books > div > section > header .bookAuthor {
  font-size: 12px;
  color: #222222;
}
#books > div > section > header > img {
  float: right;
  margin: 3px 14px;
}
#books > div > section > header .bookBtn {
  margin-left: 12px;
  padding: 0 3px;
}
#books > div > section .bookTag {
  width: auto;
  padding: 3px 7px;
  margin: 7px;
  line-height: 28px;
  border-radius: 0;
  font-size: 12px;
  background-color: #e6e6e6;
  color: #222222;
  cursor: pointer;
}
.booksWrapper {
  padding: 12px;
  overflow-x: scroll;
}
.book {
  background: -moz-linear-gradient(top, #FFFFFF, rgba(255, 255, 255, 0.2));
  background: -webkit-gradient(linear, 50% 0, 50% 100%, from(#FFFFFF), to(rgba(255, 255, 255, 0.2)));
  background: -webkit-linear-gradient(top, #FFFFFF, rgba(255, 255, 255, 0.2));
  background: -o-linear-gradient(top, #FFFFFF, rgba(255, 255, 255, 0.2));
  -webkit-animation: float 1s;
  -moz-animation: float 1s;
  -o-animation: float 1s;
  animation: float 1s;
  display: inline-block;
  border-right: 4px solid #6699CC;
  margin: 0 0 6px 1%;
  height: 136px;
  width: 31.33333333%;
  min-width: 250px;
  vertical-align: top;
  word-wrap: break-word;
  word-break: break-all;
}
.book:hover {
  background: -moz-linear-gradient(top, #FFFFFF, rgba(255, 255, 255, 0.5));
  background: -webkit-gradient(linear, 50% 0, 50% 100%, from(#FFFFFF), to(rgba(255, 255, 255, 0.5)));
  background: -webkit-linear-gradient(top, #FFFFFF, rgba(255, 255, 255, 0.5));
  background: -o-linear-gradient(top, #FFFFFF, rgba(255, 255, 255, 0.5));
}
.book > header {
  float: left;
}
.book > header img {
  width: 106px;
  height: 136px;
}
.book span,
.book a,
.book button {
  margin: 0;
  font-size: 12px;
  text-align: left;
}
.book span {
  display: block;
}
.book a,
.book button {
  padding: 0;
  background-color: transparent;
  color: #222222;
}
.book a:hover,
.book button:hover {
  background-color: transparent;
  text-decoration: underline;
}
.book .bookBtns {
  margin-left: 106px;
  padding: 12px;
}
.name,
.author {
  display: inline-block;
  margin-bottom: 7px;
  color: #222222;
}
.author {
  color: #808080;
  text-indent: 7px;
}
.removeBtn {
  width: auto;
  padding: 3px 7px;
}
.comment {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 42px;
  right: 0;
}
.comment li {
  background: -moz-linear-gradient(top, #FFFFFF, rgba(255, 255, 255, 0.5));
  background: -webkit-gradient(linear, 50% 0, 50% 100%, from(#FFFFFF), to(rgba(255, 255, 255, 0.5)));
  background: -webkit-linear-gradient(top, #FFFFFF, rgba(255, 255, 255, 0.5));
  background: -o-linear-gradient(top, #FFFFFF, rgba(255, 255, 255, 0.5));
  margin: 12px;
  padding: 12px;
}
.comment .removeComment {
  -webkit-transform: translate(0, -7px);
  -moz-transform: translate(0, -7px);
  -ms-transform: translate(0, -7px);
  -o-transform: translate(0, -7px);
  transform: translate(0, -7px);
  border: 0 solid transparent;
  border-radius: 4px;
  display: inline-block;
  padding: 3px 7px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  display: block;
  margin: 12px 12px 0 auto;
  font-size: 12px;
  background-color: #6699CC;
}
.comment .removeComment:hover {
  background-color: #407fbf;
}
.nocomment {
  text-align: center;
}
.nocomment > h1,
.nocomment > h2,
.nocomment > h3,
.nocomment > h4,
.nocomment > h5,
.nocomment > h6 {
  color: #FFFFFF;
  margin: 12px;
}
.wordHint {
  float: right;
  color: #222222;
  font-size: 12px;
}
.preview {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 42px;
  right: 0;
  bottom: 0;
  padding: 21px;
  width: 50%;
  background-color: #FFFFFF;
  opacity: 0.7;
  overflow-y: scroll;
  word-wrap: break-word;
}
.preview ol,
.preview ul {
  list-style: auto;
}
.newcommentForm {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  position: absolute;
  top: 21px;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 21px;
  width: 50%;
  background-color: #F2F2F2;
  opacity: 0.8;
  text-align: right;
}
.newcommentForm > textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  border: none;
  padding: 21px;
  margin-bottom: 21px;
  width: 100%;
  height: 100%;
  outline: none;
  word-wrap: break-word;
  background-color: #F2F2F2;
}
.newcommentForm > div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 80%;
  text-align: right;
  padding: 0 21px 5px;
}
.newcommentForm > div > input[type=submit] {
  -webkit-transform: translate(0, -7px);
  -moz-transform: translate(0, -7px);
  -ms-transform: translate(0, -7px);
  -o-transform: translate(0, -7px);
  transform: translate(0, -7px);
  border: 0 solid transparent;
  border-radius: 4px;
  display: inline-block;
  padding: 3px 7px;
  line-height: 28px;
  background-color: #6699CC;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  width: auto;
  height: auto;
}
.newcommentForm > div > input[type=submit]:hover {
  background-color: #407fbf;
}
.sidebar {
  width: 30%;
  min-width: 300px;
  float: right;
}
.container {
  margin-right: 30%;
}
@font-face {
  font-family: 'icomoon';
  src: url(../fonts/icomoon.eot?2umzxb);
  src: url(../fonts/icomoon.eot?2umzxb#iefix) format('embedded-opentype'), url(../fonts/icomoon.ttf?2umzxb) format('truetype'), url(../fonts/icomoon.woff?2umzxb) format('woff'), url(../fonts/icomoon.svg?2umzxb#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-home3:before {
  content: "\e902";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-upload2:before {
  content: "\e9c6";
}
@media only all and (max-width: 640px) {
  .form {
    background-color: transparent;
  }
  .navSwitcher {
    display: none;
  }
  .nav > ul {
    width: 100%;
  }
  .nav > ul > li {
    float: left;
    padding: 0;
    width: 25%;
    font-size: 12px;
  }
  #books > div {
    width: 100%;
  }
  #books > div > section {
    font-size: 12px;
  }
  #books > div > section > header .bookTitle {
    display: block;
    font-size: 18px;
  }
  #books > div > section > header .bookAuthor {
    display: block;
  }
  #books > div > section > header .bookBtn {
    margin-left: 0;
  }
  #books > div > section .bookTags {
    margin-right: 50%;
  }
  #books > div > section .bookTag {
    width: auto;
    margin: 0 3px;
    padding: 0 3px;
    word-wrap: normal;
    word-break: normal;
  }
  .booksWrapper {
    padding: 0;
  }
  .book {
    margin: 0;
    width: 100%;
  }
  .sidebar {
    width: 100%;
  }
  .preview {
    display: none;
  }
  .newcommentForm {
    width: 100%;
  }
}
@-webkit-keyframes float {
  from {
    margin-top: 14px;
    opacity: 0.5;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@-moz-keyframes float {
  from {
    margin-top: 14px;
    opacity: 0.5;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@-o-keyframes float {
  from {
    margin-top: 14px;
    opacity: 0.5;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes float {
  from {
    margin-top: 14px;
    opacity: 0.5;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
