@mainColor: #394347;
@subMainColor: #CCCCCC;
@black: #000000;
@white: #FFFFFF;
@lightGrey: #BBBBBB;
@darkGrey: #222222;
@lightBlue: #99CCFF;
@green: #99FF66;
@red: #FF0033;
@lightYellow: #FFFF66;
@sliver: #F2F2F2;
@navHeight: 50px;
@bookWidth: 106px;
@bookHeight: 136px;
@avatarSizeBg: 128px;
@avatarSize: 80px;
@avatarSizeSm: 48px;
@level1: 10;
@level2: 9;

html, body {
  height: 100%;
  overflow-x: hidden;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td, button {
  padding: 0;
  margin: 0;
  font: 14px "Segoe UI", "Lucida Grande", "Microsoft YaHei", Helvetica, Arial, sans-serif;
}
ol, ul {
  list-style: none;
}
label {
  input {
    display: none;
  }
  >input[type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    left: 0;
    font-size: 16px;
  }
  >span {
    -webkit-transform: translate(0, 3px);
    -moz-transform: translate(0, 3px);
    -ms-transform: translate(0, 3px);
    -o-transform: translate(0, 3px);
    transform: translate(0, 3px);
    position: relative;
    display: inline-block;
    border: 1px solid @black;
    height: 16px;
    width: 16px;
    line-height: 16px;
    background-color: @sliver;
    text-align: center;
  }
}

.generate-h(6);
.generate-h(@n, @i: 1) when (@i <= @n) {
  h@{i} {
    font-size: 250% - @i * 25%;
    font-weight: normal;
  }
  .generate-h(@n, (@i + 1));
}

.text-center {
  text-align: center;
}

a {
  color: @black;
  text-decoration: none;
}

.transitionMixin(@attr, @duration) {
  -webkit-transition: @attr @duration;
  -moz-transition: @attr @duration;
  -ms-transition: @attr @duration;
  -o-transition: @attr @duration;
  transition: @attr @duration;
}
.animationMixin(@frame, @duration: 1s) {
  -webkit-animation: @frame @duration;
  -moz-animation: @frame @duration;
  -o-animation: @frame @duration;
  animation: @frame @duration;
}
.topLinearBgColorMixin(@startBg, @endBg) {
  background: -moz-linear-gradient(top, @startBg, @endBg);
  background: -webkit-gradient(linear, 50% 0, 50% 100%, from(@startBg), to(@endBg));
  background: -webkit-linear-gradient(top, @startBg, @endBg);
  background: -o-linear-gradient(top, @startBg, @endBg);
}
.leftLinearBgColorMixin(@startBg, @endBg) {
  background: -moz-linear-gradient(left, @startBg, @endBg);
  background: -webkit-gradient(linear, 0 50%, 100% 50%, from(@startBg), to(@endBg));
  background: -webkit-linear-gradient(left, @startBg, @endBg);
  background: -o-linear-gradient(left, @startBg, @endBg);
}
.borderRadius(@radius) {
  border-radius: @radius;
}
.blur(@c) {
  -webkit-filter: blur(@c); /* Chrome, Opera */
  -moz-filter: blur(@c);
  -ms-filter: blur(@c);
  filter: blur(@c);

  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=@c, MakeShadow=false); /* IE6~IE9 */
}
.greyFilter() {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
.cancelGreyFilter() {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
  filter: none;
}
.btn() {
  border: 0 solid transparent;
  border-radius: 4px;
  display: inline-block;
  padding: 3px 7px;
  line-height: 28px;
  background-color: @mainColor;
  color: @white;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: darken(@mainColor, 10%);
  }
}
.btn-sm {
  .btn();
  border: 1px solid @mainColor;
  margin: 6px 0 6px 6px;
  padding: 3px;
  min-width: 42px;
  line-height: 16px;
  font-size: 12px;
  background-color: @white;
  text-align: center;
  color: @mainColor;
  &:hover {
    background-color: lighten(@mainColor, 30%);
  }
}
.borderBox() {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ratyli {
  color: @lightBlue;
}
.ratyli .rate{
  color: @lightBlue;
  font-size: 21px;
}

.success {
  color: @green;
}
.error {
  color: @red;
}
.success, .error {
  display: none;
  // display: block;
  padding: 7px;
  width: 100%;
  text-align: center;
  background-color: @white;
  font-size: 16px;
}
.link {
  color: @lightBlue;
}

.navSwitcher {
  position: fixed;
  left: 12px;
  top: 0;
  z-index: @level1;
  width: @navHeight;
  height: @navHeight;
  cursor: pointer;
  >span {
    display: block;
    margin-top: percentage(0.8 / 6);
    width: 80%;
    height: percentage(0.8 / 9);
    background-color: @white;
    &:first-child {
      margin-top: 20%;
    }
  }
}
.nav {
  // .leftLinearBgColorMixin(lighten(@mainColor, 10%), darken(@mainColor, 10%));
  position: fixed;
  z-index: @level2;
  width: 100%;
  height: @navHeight;
  background-color: @mainColor;
  opacity: 1;
  >ul {
    float: right;
    >li {
      .transitionMixin(background-color, 0.5s);
      display: inline-block;
      padding: 0 12px;
      height: @navHeight;
      line-height: @navHeight;
      text-align: center;
      &:hover {
        background-color: @white;
        >a {
          color: @mainColor;
        }
      }
      >a {
        display: inline-block;
        width: 100%;
        color: @white;
        cursor: pointer;
      }
    }
  }
}

.main {
  .borderBox();
  position: relative;
  padding-top: @navHeight;
  min-height: 100%;
}
.bgImg {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: @sliver;
  // background-image: url('../../images/lowpoly.png');
}

// .logs {
//   font-size: 18px;
//   .page;
//   >h3 {
//     padding-bottom: 7px;
//     border-bottom: 1px solid @sliver;
//   }
//   >.add {
//     .transitionMixin(padding, 1s);
//     margin: 14px 0;
//     &:hover {
//       padding-left: 14px;
//     }
//   }
//   .log {
//     display: inline-block;
//     margin: 7px 0;
//   }
//   .time {
//     padding: 4px 7px;
//     border-radius: 7px;
//     background-color: @sliver;
//     color: @mainColor;
//   }
// }

.page {
  padding: 14px;
  text-align: right;
}

.prepage, .nextpage {
  >a {
    .transitionMixin(color, 0.3s);
    .transitionMixin(background-color, 0.3s);
    display: inline-block;
    padding: 7px;
    background-color: @mainColor;
    color: @white;
    &:hover {
      background-color: @sliver;
      color: @mainColor;
    }
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 42px;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.form {
  max-width: 400px;
  background-color: @white;
  border-radius: 5px;
  text-align: center;
  >h1, >h2, >h3, >h4, >h5, >h6 {
    color: @mainColor;
  }
  >input {
    .borderBox();
    margin: 14px auto;
    height: 42px;
    line-height: 42px;
    &[type=text], &[type=password], &[type=email] {
      display: block;
      border: 2px solid @sliver;
      border-radius: 7px;
      width: 100%;
      text-indent: 7px;
      outline: none;
    }
    &[type=submit], &[type=reset], &[type=button] {
      .btn();
      padding: 0;
      height: 30px;
      line-height: 30px;
      min-width: 64px;
    }
    &[type=checkbox] {
      display: inline-block;
      margin-right: 0;
      vertical-align: middle;
    }
    &[type=submit], &[type=reset] {
      width: 45%;
    }
  }
  >span {
    display: inline-block;
    margin: 14px 0;
    height: 24px;
    vertical-align: middle;
    line-height: 24px;
  }
  .form-footer {
    position: absolute;
    bottom: 14px;
    left: 0;
    width: 100%;
    text-align: center;
  }
}
.panel {
  margin: 12px;
  background-color: @white;
  >header {
    height: 32px;
    background-color: @subMainColor;
    line-height: 32px;
    text-indent: 12px;
    color: @white;
  }
  >div {
    padding: 12px;
    >form {
      .form();
      >input {
        &[type=text], &[type=submit] {
          display: inline-block;
          margin: 1%;
        }
        &[type=text] {
          width: 60%;
          height: 32px;
          line-height: 32px;
        }
        &[type=submit] {
          width: 20%;
        }
      }
    }
  }
  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

button {
  .btn();
}

.userBooks {
  .borderRadius(5px);
  position: relative;
  margin: 12px;
  padding: 12px;
  background-color: @white;
  height: @bookHeight;
  overflow: show;
}

.booksRank {
  .borderRadius(5px);
  background-color: @white;
  >li {
    .transitionMixin(color, 0.3s);
    .transitionMixin(background-color, 0.3s);
    margin: 12px / 4;
    padding: 12px / 4;
    >span {
      margin-right: 6px;
    }
    >a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.bookList {
  min-height: @avatarSizeSm;
  line-height: @avatarSizeSm;
  .bookAuthor {
    display: inline-block;
  }
}
a.bookTitle {
  display: inline-block;
  &:hover {
    color: @lightBlue;
  }
}
.bookTitle {
  display: block;
  margin-right: 12px;
  // height: 21px;
  line-height: 21px;
  font-size: 16px;
  color: @darkGrey;
  text-decoration: none;
}
.bookAuthor {
  display: block;
  font-size: 12px;
  color: @darkGrey;
}
#books>div {
  .borderBox();
  float: left;
  margin: 0;
  padding: 0 12px;
  width: percentage(1 / 3);
  word-wrap: break-word;
  >section {
    .topLinearBgColorMixin(@white, rgba(255, 255, 255, 0.5));
    .borderBox();
    margin: 12px 0;
    padding: 14px;
    border-radius: 7px;
    width: 100%;
    min-height: 180px;
    font-size: 12px;
    color: @darkGrey;
    &:hover {
      .topLinearBgColorMixin(@white, rgba(255, 255, 255, 0.8));
    }
    >header {
      >img {
        float: right;
        margin: 3px 14px;
      }
      .bookBtn, .addBtn {
        .btn-sm();
      }
    }
    .bookTags {
      overflow: hidden;
    }
    .bookTag {
      float: left;
      border: 1px solid @darkGrey;
      width: auto;
      padding: 3px;
      margin: 3px;
      border-radius: 0;
      font-size: 12px;
      color: @darkGrey;
      cursor: pointer;
    }
  }
}

.booksWrapper {
  padding: 12px;
  overflow-x: scroll;
}
.book {
  .topLinearBgColorMixin(@white, rgba(255, 255, 255, 0.2));
  .animationMixin(float);
  display: inline-block;
  border-right: 4px solid @mainColor;
  margin: 0 0 6px 1%;
  height: @bookHeight;
  width: percentage(0.94 / 3);
  min-width: 250px;
  vertical-align: top;
  word-wrap: break-word;
  word-break: break-all;
  &:hover {
    // .greyFilter();
    .topLinearBgColorMixin(@white, rgba(255, 255, 255, 0.5));
  }
  >header {
    float: left;
    img {
      width: @bookWidth;
      height: @bookHeight;
    }
  }
  span, a, button {
    margin: 0;
    font-size: 12px;
    text-align: left;
  }
  span {
    display: block;
  }
  a, button {
    text-align: center;
  }
  .bookBtns {
    margin-left: @bookWidth;
    padding: 12px;
  }
}

.name, .author {
  display: inline-block;
  margin-bottom: 7px;
  color: @darkGrey;
}

.author {
  color: lighten(@black, 50%);
  text-indent: 7px;
}

.comments {
  .loopRemoveComment (@num) when (@num > 0) {
    .loopRemoveComment(@num - 1);
  }
  .loopRemoveComment(6);
  .borderBox();
  position: fixed;
  top: 42px;
  width: 100%;
  .comment {
    .topLinearBgColorMixin(@white, rgba(255, 255, 255, 0.5));
    margin: 12px;
    padding: 12px;
  }
  .removeComment {
    .btn();
    display: block;
    margin: 12px 12px 0 auto;
    font-size: 12px;
    background-color: @mainColor;
  }
}

.nocomment {
  .text-center();
  >h1, >h2, >h3, >h4, >h5, >h6 {
    margin: 12px;
  }
}

.wordHint {
  float: right;
  color: @darkGrey;
  font-size: 12px;
}
.preview {
  .borderBox();
  position: absolute;
  top: 42px;
  right: 0;
  bottom: 0;
  padding: 21px;
  width: 50%;
  background-color: @white;
  opacity: 0.7;
  overflow-y: scroll;
  word-wrap: break-word;
  ol, ul {
    list-style: auto;
  }
}

.newcommentForm {
  .borderBox();
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  position: absolute;
  top: 21px;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 21px;
  width: 50%;
  background-color: @sliver;
  opacity: 0.8;
  text-align: right;
  >textarea {
    .borderBox();
    resize: none;
    border: none;
    padding: 21px;
    margin-bottom: 21px;
    width: 100%;
    height: 100%;
    outline: none;
    word-wrap: break-word;
    background-color: @sliver;
  }
  >div {
    .borderBox();
    position: fixed;
    bottom: 0;
    width: 80%;
    text-align: right;
    padding: 0 21px 5px;
    >input[type=submit] {
      .btn();
      width: auto;
      height: auto;
    }
  }
}

.sidebar {
  width: 30%;
  min-width: 300px;
  float: right;
}
.userInfo {
  margin: 0 auto;
  max-width: 980px;
}
.userInfoDetail {
  margin: @avatarSizeBg / 2 + 12px 12px 12px;
  padding: 0 12px 12px;
  background-color: @white;
  text-align: center;
  >.user-head {
    .borderRadius(50%);
    display: inline-block;
    margin-top: -1 * @avatarSizeBg / 2;
    width: @avatarSizeBg;
    height: @avatarSizeBg;
    background-color: @mainColor;
    >img {
      .borderRadius(50%);
      height: 100%;
      width: 100%;
    }
  }
  >.user-text {
    display: block;
    height: 21px;
    line-height: 21px;
  }
}
.container, .user {
  >ul {
    margin: 12px;
    padding: 12px;
    background-color: @white;
    >li {
      &:not(:last-child) {
        border-bottom: 1px solid @lightGrey;
      }
      .avatar {
        float: left;
        border-radius: 50%;
        width: @avatarSizeSm;
        height: @avatarSizeSm;
      }
      >section {
        margin-left: @avatarSizeSm + 12px;
        min-height: @avatarSizeSm;
        font-size: 12px;
      }
      padding: 6px 0;
    }
  }
}
.container {
  margin-right: 30%;
}
.user {
  ul {
    overflow: hidden;
  }
  li {
    float: left;
    width: 50%;
  }
}

@font-face {
  font-family: 'icomoon';
  src:    url(../fonts/icomoon.eot?2umzxb);
  src:    url(../fonts/icomoon.eot?2umzxb#iefix) format('embedded-opentype'),
  url(../fonts/icomoon.ttf?2umzxb) format('truetype'),
  url(../fonts/icomoon.woff?2umzxb) format('woff'),
  url(../fonts/icomoon.svg?2umzxb#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-upload2:before {
  content: "\e9c6";
}

@media only all and (max-width: 900px) {
  .ratyli .rate{
    font-size: 16px;
  }
  .container {
    margin-right: 300px;
  }
  .user li {
    float: none;
    width: 100%;
  }
}

@media only all and (max-width: 640px) {
  .ratyli .rate{
    font-size: 14px;
  }
  .form {
    background-color: transparent;
  }
  .navSwitcher {
    display: none;
  }
  .nav {
    >ul {
      width: 100%;
      >li {
        float: left;
        padding: 0;
        width: 25%;
        font-size: 12px;
      }
    }
  }
  #books >div {
    width: 100%;
    >section {
      font-size: 12px;
      >header {
        .bookTitle {
          display: block;
          font-size: 18px;
        }
        .bookAuthor {
          display: block;
        }
        .bookBtn {
          margin-left: 0;
        }
      }
    }
  }
  .booksWrapper {
    padding: 0;
  }
  .book {
    margin: 0;
    width: 100%;
  }
  .sidebar {
    float: none;
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .preview {
    display: none;
  }
  .newcommentForm {
    width: 100%;
  }
}

@-webkit-keyframes float {
  from {
    margin-top: 14px;
    opacity: 0.5;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@-moz-keyframes float {
  from {
    margin-top: 14px;
    opacity: 0.5;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@-o-keyframes float {
  from {
    margin-top: 14px;
    opacity: 0.5;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes float {
  from {
    margin-top: 14px;
    opacity: 0.5;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
