@mainColor: #7B6093;
@black: #000000;
@white: #ffffff;
@darkGrey: #222222;
@lightBlue: #00B7FF;
@green: #6dea67;
@red: #f44336;
@sliver: #F2F2F2;
@navHeight: 50px;
@bookWidth: 106px;
@bookHeight: 136px;
@level1: 10;
@level2: 9;

html, body {
  height: 100%;
  overflow-x: hidden;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td, button {
  padding: 0;
  margin: 0;
  font: 14px "Segoe UI", "Lucida Grande", "Microsoft YaHei", Helvetica, Arial, sans-serif;
}
ol, ul {
  list-style: none;
}

.generate-h(6);
.generate-h(@n, @i: 1) when (@i <= @n) {
  h@{i} {
    font-size: 250% - @i * 25%;
    font-weight: normal;
  }
  .generate-h(@n, (@i + 1));
}
a {
  color: @lightBlue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.transitionMixin(@attr, @duration) {
  -webkit-transition: @attr @duration;
  -moz-transition: @attr @duration;
  -ms-transition: @attr @duration;
  -o-transition: @attr @duration;
  transition: @attr @duration;
}
.topLinearBgColorMixin(@startBg, @endBg) {
  background: -moz-linear-gradient(top, @startBg, @endBg);
  background: -webkit-gradient(linear, 50% 0, 50% 100%, from(@startBg), to(@endBg));
  background: -webkit-linear-gradient(top, @startBg, @endBg);
  background: -o-linear-gradient(top, @startBg, @endBg);
}
.leftLinearBgColorMixin(@startBg, @endBg) {
  background: -moz-linear-gradient(left, @startBg, @endBg);
  background: -webkit-gradient(linear, 0 50%, 100% 50%, from(@startBg), to(@endBg));
  background: -webkit-linear-gradient(left, @startBg, @endBg);
  background: -o-linear-gradient(left, @startBg, @endBg);
}
.backgroundImage(@url) {
  height: 100%;
  width: 100%;
  background: url(@url) no-repeat;
  -webkit-background-size: 100%, 100%;
  background-size: 100% 100%;
}
.blur(@c) {
  -webkit-filter: blur(@c); /* Chrome, Opera */
  -moz-filter: blur(@c);
  -ms-filter: blur(@c);
  filter: blur(@c);

  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=@c, MakeShadow=false); /* IE6~IE9 */
}
.greyFilter() {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
.cancelGreyFilter() {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
  filter: none;
}
.btn {
  border: 0 solid transparent;
  border-radius: 4px;
  display: inline-block;
  padding: 3px 7px;
  line-height: 28px;
  background-color: @mainColor;
  color: @white;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: darken(@mainColor, 10%);
  }
}
.borderBox() {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.success {
  color: @green;
}
.error {
  color: @red;
}
.success, .error {
  display: none;
  // display: block;
  padding: 7px;
  width: 100%;
  text-align: center;
  background-color: @white;
  font-size: 16px;
}

.sideBarSwitcher {
  position: fixed;
  right: 12px;
  top: 0;
  z-index: @level1;
  width: @navHeight;
  height: @navHeight;
  cursor: pointer;
  >span {
    display: block;
    margin-top: percentage(0.8 / 6);
    width: 80%;
    height: percentage(0.8 / 9);
    background-color: @white;
    &:first-child {
      margin-top: 20%;
    }
  }
}
.sidebar {
  .leftLinearBgColorMixin(lighten(@mainColor, 10%), darken(@mainColor, 10%));
  position: fixed;
  z-index: @level2;
  width: 100%;
  height: @navHeight;
  // background-color: @mainColor;
  >ul {
    >li {
      .transitionMixin(background-color, 0.5s);
      display: inline-block;
      padding: 0 12px;
      height: @navHeight;
      line-height: @navHeight;
      text-align: center;
      &:hover {
        background-color: @white;
        >a {
          color: @mainColor;
        }
      }
      >a {
        display: inline-block;
        width: 100%;
        color: @white;
      }
    }
  }
}

.main {
  .borderBox();
  position: relative;
  padding-top: @navHeight;
  min-height: 100%;
}
.bgImg {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url('../../images/lowpoly.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.logs {
  font-size: 18px;
  .page;
  >h3 {
    padding-bottom: 7px;
    border-bottom: 1px solid @sliver;
  }
  >.add {
    .transitionMixin(padding, 1s);
    margin: 14px 0;
    &:hover {
      padding-left: 14px;
    }
  }
  .log {
    display: inline-block;
    margin: 7px 0;
  }
  .time {
    padding: 4px 7px;
    border-radius: 7px;
    background-color: @sliver;
    color: @mainColor;
  }
}

.page {
  padding: 14px;
  text-align: right;
}

.prepage, .nextpage {
  >a {
    .transitionMixin(background-color, 0.5s);
    display: inline-block;
    padding: 7px;
    background-color: @mainColor;
    color: @white;
    &:hover {
      background-color: @sliver;
      color: @mainColor;
    }
  }
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 42px;
  width: 80%;
  max-width: 400px;
  background-color: @white;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  >h1, >h2, >h3, >h4, >h5, >h6 {
    color: @mainColor;
  }
  > input {
    .borderBox();
    margin: 14px auto;
    height: 42px;
    line-height: 42px;
    &[type=text], &[type=password], &[type=email] {
      display: block;
      border: 2px solid @sliver;
      border-radius: 7px;
      min-width: 200px;
      width: 100%;
      text-indent: 7px;
      outline: none;
      &:focus {
        // border-color: @darkGrey;
      }
    }
    &[type=submit], &[type=reset], &[type=button] {
      .btn();
      padding: 0;
      height: 30px;
      line-height: 30px;
      min-width: 64px;
    }
    &[type=checkbox] {
      display: inline-block;
      margin-right: 0;
      vertical-align: middle;
    }
    &[type=submit] {
      width: 100%;
    }
  }
  > span {
    display: inline-block;
    margin: 14px 0;
    height: 24px;
    vertical-align: middle;
    line-height: 24px;
  }
  .form-footer {
    position: absolute;
    bottom: 14px;
    left: 0;
    width: 100%;
    text-align: center;
  }
}

button {
  .btn();
}

#books > section {
  .topLinearBgColorMixin(@white, rgba(255, 255, 255, 0.5));
  margin: 14px;
  padding: 14px;
  min-height: 180px;
  >header {
    .bookTitle {
      margin-right: 12px;
      font-size: 32px;
      color: @darkGrey;
      text-decoration: none;
    }
    .bookAuthor {
      font-size: 12px;
      color: @darkGrey;
    }
    >img {
      float: right;
      margin: 0 14px;
    }
    .bookBtn {
      .topLinearBgColorMixin(@mainColor, lighten(@mainColor, 20%));
      margin-left: 12px;
      padding: 0 7px;
      &:hover {
        .topLinearBgColorMixin(@mainColor, @mainColor);
      }
    }
  }
  .bookTag {
    width: auto;
    padding: 3px 7px;
    margin: 7px;
    line-height: 28px;
    border-radius: 0;
    font-size: 12px;
    background-color: darken(@white, 10%);
    color: @darkGrey;
    cursor: pointer;
  }
}

.booksWrapper {
  padding: 12px;
  overflow-x: scroll;
}
.book {
  .topLinearBgColorMixin(@white, rgba(255, 255, 255, 0.2));
  display: inline-block;
  margin: 6px 12px;
  height: @bookHeight;
  vertical-align: top;
  word-wrap: break-word;
  word-break: break-all;
  &:hover {
    .greyFilter();
  }
  >header {
    float: left;
    img {
      width: @bookWidth;
      height: @bookHeight;
    }
  }
  span, a, button {
    margin: 0;
    font-size: 12px;
    text-align: left;
  }
  span {
    display: block;
  }
  a, button {
    padding: 0;
    background-color: transparent;
    color: @darkGrey;
    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }
  .bookBtns {
    margin-left: @bookWidth;
    padding: 12px;
  }
}

.name, .author {
  display: inline-block;
  margin-bottom: 7px;
  color: @darkGrey;
}

.author {
  margin-left: 7px;
}

.removeBtn {
  width: auto;
  padding: 3px 7px;
}

.comment {
  .loopRemoveComment (@num) when (@num > 0) {
    .loopRemoveComment(@num - 1);
  }
  .loopRemoveComment(6);
  .borderBox();
  position: fixed;
  top: 42px;
  right: 0;
  padding: 12px;
  width: 48%;
  color: @mainColor;
  li {
    margin-bottom: 70px;
  }
}

.removeComment {
  display: block;
  float: right;
  margin: 14px;
  background-color: @mainColor;
}

.wordHint {
  float: right;
  color: @darkGrey;
  font-size: 12px;
}
.preview {
  .borderBox();
  position: absolute;
  top: 42px;
  right: 0;
  bottom: 0;
  padding: 21px;
  width: 50%;
  overflow-y: scroll;
  word-wrap: break-word;
  ol, ul {
    list-style: auto;
  }
}

.add_comment_form {
  .borderBox();
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  position: absolute;
  top: 21px;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 21px;
  width: 50%;
  background-color: @sliver;
  opacity: 0.8;
  text-align: right;
  >textarea {
    .borderBox();
    resize: none;
    border: none;
    padding: 21px;
    width: 100%;
    height: 80%;
    outline: none;
    word-wrap: break-word;
    background-color: @sliver;
  }
  >input[type=submit] {
    margin-right: 12px;
    padding: 3px 12px;
    width: auto;
    height: auto;
  }
}

@font-face {
  font-family: 'icomoon';
  src:    url(../fonts/icomoon.eot?2umzxb);
  src:    url(../fonts/icomoon.eot?2umzxb#iefix) format('embedded-opentype'),
  url(../fonts/icomoon.ttf?2umzxb) format('truetype'),
  url(../fonts/icomoon.woff?2umzxb) format('woff'),
  url(../fonts/icomoon.svg?2umzxb#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-upload2:before {
  content: "\e9c6";
}

@media only all and (max-width: 640px) {
  .sideBarSwitcher {
    display: none;
  }
  .sidebar {
    >ul {
      width: 100%;
      >li {
        float: left;
        padding: 0;
        width: 25%;
        font-size: 12px;
      }
    }
  }
  #books > section {
    font-size: 12px;
    >header {
      .bookTitle {
        display: block;
        font-size: 18px;
      }
      .bookAuthor {
        display: block;
      }
      .bookBtn {
        margin-left: 0;
      }
    }
    .bookTags {
      margin-right: 50%;
    }
    .bookTag {
      width: auto;
      margin: 0 3px;
      padding: 0 3px;
      word-wrap: normal;
      word-break: normal;
    }
  }
  .book {
    width: 80%;
    margin: 12px 10%;
  }
}
